
.radio-button .radio {
 -fx-position: absolute;
  -fx-top: 0;
  -fx-left: 0;
  -fx-height: 25px;
  -fx-width: 25px;
  -fx-background-color: #eee;
  -fx-border-radius: 50%;
}
.radio-button .radio:selected {
   -fx-background-color: #ccc;

}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;

}



